<main>
  <div id="form">
    <header>
      <h1>Log in</h1>
    </header>
    <section>
      <form #form=ngForm (ngSubmit)="onSubmit(form)">
        <div class="form-field">
          <label>Email</label><input name="email" type="text" ngModel #email="ngModel" required>
        </div>
        <div class="form-field">
          <label>Password</label><input name="password" type="password" minlength="6" ngModel #password="ngModel" required>
        </div>
        <button type="submit" *ngIf="form.valid">Log in</button>
        <button id="not-valid" *ngIf="!form.valid">Log in</button>
      </form>
    </section>
  </div>
</main>
