main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

nav {
  width: 100%;
  height: 6vh;
  background-color: #1E4859;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.buy-trip {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: right;
}

button {
  width: 50%;
  height: 80%;
  background-color: #93CDE6;
  border: 1px solid white;
  color: black;
  font-weight: bold;
  border-radius: 5px;
}

.empty {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #1E4859;
}

.trip {
  width: 25%;
  margin: 1%;
}

.card {
  background-color: white;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border-radius: 20px;
  box-shadow: 8px 8px 25px -5px rgba(66, 68, 90, 1);
}

picture {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  width: auto;
  height: 100%;
  margin-left: -50%;
}

.name {
  width: 100%;
  text-align: center;
  margin: 0;
}

.description {
  width: 90%;
  margin: 0 5% 0 5%;
}

.details {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

.details > div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.dates {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  font-size: 0.7em;
  border-top: lightgray 1px solid;
  border-bottom: lightgray 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating {
  width: 40%;
  margin: 0 5% 5% 5%;
}

.controls {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.controls > div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls > .add {
  grid-area: 1 / 1 / 2 / 2;
}
.controls > .remove {
  grid-area: 1 / 2 / 2 / 3;
}

.color-red {
  color: red;
}

.cheapest {
  border: green 4px solid;
}

.most-expensive {
  border: orangered 4px solid;
}

.footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1300px) {
  .buy-trip {
    right: -10%;
  }
}

@media (max-width: 1100px) {
  picture {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 900px) {
  .remove-card {
    right: -25%;
  }
}


@media (max-width: 900px) {
  .trip {
    width: 40%;
  }
}

@media (max-width: 650px) {
  .trip {
    width: 50%;
  }
}
