main {
  background-color: white;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  border-radius: 20px;
  box-shadow: 8px 8px 25px -5px rgba(66, 68, 90, 1);
}

picture {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

img {
  width: auto;
  height: 100%;
  margin-left: -50%;
}

.name {
  width: 100%;
  text-align: center;
  margin: 0;
}

.description {
  width: 90%;
  margin: 0 5% 0 5%;
}

.details {
  width: 90%;
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

.details > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.dates {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 5% 0 5%;
  font-size: 0.7em;
  border-top: lightgray 1px solid;
  border-bottom: lightgray 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rating {
  width: 90%;
  margin: 0 5% 5% 5%;
}

.controls {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.controls > div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls > .add {
  grid-area: 1 / 1 / 2 / 2;
}
.controls > .remove {
  grid-area: 1 / 2 / 2 / 3;
}

.color-red {
  color: red;
}

.cheapest {
  border: green 4px solid;
}

.most-expensive {
  border: orangered 4px solid;
}
