<main>
  <div id="form" *ngIf="trip">
    <header>
      <h1>Edit trip</h1>
    </header>
    <section>
      <form #form=ngForm (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label>Name</label><input name="name" type="text" [(ngModel)]="trip.name" #name="ngModel" required >
        </div>
        <div class="form-field">
          <label>Destination</label><input name="destination" type="text" [(ngModel)]="trip.destination" #destination="ngModel" required>
        </div>
        <div class="form-field">
          <label>Unit price</label><input name="unitPrice" type="number" [(ngModel)]="trip.unitPrice" #unitPrice="ngModel" required>
        </div>
        <div class="form-field">
          <label>Max participants</label><input name="maxParticipants" type="number" [(ngModel)]="trip.maxParticipants" #maxParticipants="ngModel" required>
        </div>
        <div class="form-field">
          <label>Description</label><textarea name="description" [(ngModel)]="trip.description" #description="ngModel" required></textarea>
        </div>
        <div class="form-field">
          <label>Image</label><input name="image" type="text" [(ngModel)]="trip.image" #image="ngModel" required>
        </div>
        <div class="form-field">
          <label>Start date</label><input name="startDate" type="date" [(ngModel)]="trip.startDate" #startDate="ngModel" required>
        </div>
        <div class="form-field">
          <label>End date</label><input name="endDate" type="date" [(ngModel)]="trip.endDate" min="{{startDate.value}}" #endDate="ngModel" required>
        </div>
        <button type="submit" *ngIf="form.valid">Edit trip</button>
        <button disabled id="not-valid" *ngIf="!form.valid">Edit trip</button>
      </form>
    </section>
  </div>
</main>
