<main>
  <h1>Welcome to our travel agency!</h1>
  <section class="details">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel porttitor ligula. Nullam lectus ipsum,
      lacinia quis sem id, vehicula egestas sem. Phasellus ut libero vel enim sollicitudin malesuada. Sed accumsan non
      magna ut scelerisque. Vivamus dictum sodales nunc, at hendrerit elit viverra a.</p>
  </section>
  <google-map width="60vw" height="30vh" [center]="center" [zoom]="zoom" [options]="options">
    <map-marker [position]="center"></map-marker>
  </google-map>
  <div class="contact">
    <h3>Warsaw</h3>
    <h5>Walewska 15</h5>
    <div id="phone">
      <span class="material-symbols-outlined">
        call
      </span>
      <a href="tel:123-456-789">123-456-789</a>
    </div>
    <div id="mail">
      <span class="material-symbols-outlined">
        mail
      </span>
      <a href="mailto:trips@travelagency.pl">trips@travelagency.pl</a>
    </div>

  </div>
</main>
